fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
PyJWT
passlib[bcrypt]
python-multipart
python-dotenv
pydantic[email]
langchain
langchain-community
langchain-huggingface
langchain-postgres
langchain-groq
pypdf
pgvector
--extra-index-url https://download.pytorch.org/whl/cpu
torch
sentence-transformers
